.container{
    display: flex;
    display: -webkit-flex; 
    flex-direction: row;
    -webkit-flex-direction:row;
    border-left: rgb(167,35,27) solid 10px;
    padding:16px 12px 16px 12px;
    margin-bottom: 30px;
}
.imgContainer{
    height: 278px;
    width: 185px;
}
.introContainer{
    display: flex;
    display: -webkit-flex; 
    flex-direction: column;
    -webkit-flex-direction:column;
    padding: 25px 10px 20px 40px;
}
.introTitle{
    text-align:start;
    font-family: 'Raleway',sans-serif;
    font-size: 26px;
    font-weight:700;
    color: white;
}
.introBasicContent{
    display: flex;
    display: -webkit-flex; 
    flex-direction: column;
    justify-content: center;
    height: 80px;
}
.introBasicContentText{
    text-align:start;
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    color: rgb(188,184,184);
}
.introBasicContentTextVoteTextContainer{
    display: flex;
    display: -webkit-flex; 
    font-size: 12px;
    flex-direction: row;
    font-family: 'Raleway',sans-serif;
}
.introBasicContentTextVoteTextContainerRed{
    color: rgb(167,35,27);
}
.introBasicContentTextVoteTextContainerWhite{
    color: white;
    margin-left: 10px;
}
.introOverview{
    display: -webkit-box;
    text-align:start;
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    color: rgb(188,184,184);
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}
.introShowButton{
    height:30px;
    line-height: 29px;
    width: 100px;
    background-color: rgb(167,35,27);
    border-radius:4px;
    border:none;
    cursor: pointer;
    outline:none;
    font-size: 14px;
    font-family: sans-serif;
    color: white;
    text-align: center;
    margin-top: 30px;
}
.introShowButton:hover{
    background-image: radial-gradient( rgb(180, 180, 180) , white);
}